body {
  margin: 0;
  padding: 0;
  font-size: clamp(15px, 1vw, 25px);
  background-image: url('https://assets.st-note.com/img/1683894319155-7lAfiEZRHw.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s ease-in-out, opacity 2s ease-in-out;
  opacity: 0;
  transition: background-image 2s ease-in-out;
}

body.visible {
  opacity: 1;
}

body.fadeout {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

#chatBox {
  min-height: calc(6 * 1.2em * 1.5);
  max-height: calc(6 * 1.2em * 1.5);
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
}

#userInput[type="text"] {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  padding: 5px;
  outline: none;
  width: 100%;
  transition: background-color 0.3s;
}

#userInput[type="text"]:focus {
  background-color: rgba(255, 255, 255, 1);
}

.message-animation {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
